{% extends 'base.html' %}
{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table table-dark table-striped table-hover">
         {%for cafe in cafes%}
         <tr>
          <th> {{cafe[0]}}</th>
          <th>{{cafe[1]}}</th>
          <th> {{cafe[2]}}</th>
            <th> {{ cafe[3]}}</th>
         <th> {{ cafe[4]}}</th>
          <th> {{cafe[5]}}</th>
            <th> {{ cafe[6]}}</th>
            {% endfor %}
        </tr>
        
  	  </table>

      <p><a href="{{ url_for('home') }}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
