<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Library</title>
  </head>
  <body>
    <h1>My Library</h1>
      {% if listcount==0 %}
        <h2>Library is empty</h2>
        {% else %}
        <ul>
          {% for book in book_list%}
       
          <b><li>{{book.title}}-{{book.author}}-{{book.rating}} <a href="{{ url_for('new_rating', num=book.id) }}">Edit Rating</a></li></b>
          {% endfor %}
        </ul>
          {% endif %}
    <a href="{{ url_for('add') }}">Add New Book</a>
  </body>
</html>
